<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="ApiKey" value="Test-api-key" />
        <add key="MaxRetryAttempts" value="5" />
        <add key="SomeFloatSetting" value="25.5" />
        <add key="Timeout" value="00:01:30" />
    </appSettings>
</configuration>